<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container-fluid" id="main">
      <div class="content-wrapper content-category">
      <h1>About</h1>
      <p><strong>Rehearse</strong> helps you improve your speaking skills by analyzing what you say and how you say it.</p>
      <p>You'll see how many times you paused, how clearly you pronounce words, and even your tone of speech.</p>
      <p>On your Profile page, see how you've improved over time.</p>
      </div>
      <hr>
      <row>
      <div class="col-md-6 content-wrapper content-category">
      <h3>Created with</h3>
      <div class="col-sm-4">
        <img src="images/speech-to-text.png">
      </div>
      <div class="col-sm-4">
        <img src="images/nuance-logo.jpg">
      </div>
      <div class="col-sm-4">
        <img src="images/tone-analyzer.png">
      </div>
      </div>
      <div class="col-md-4 col-md-offset-1 content-wrapper content-category">
      <h3>Created by</h3>
      <p>Austin Eng, Amit Patel, Raymond Yin, Carolina Zheng</p>
      <img src="images/YHACK_white.png">
      </div>
      </row>
    </div>

    <% include scripts.ejs %>
  </body>
</html>