<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container-fluid" id="main">
      <h1>About</h1>
      <p>Austin Eng, Amit Patel, Raymond Yin, Carolina Zheng</p>
      <p>YHack 2015</p>
    </div>

    <% include scripts.ejs %>
  </body>
</html>