<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
    <title>Rehearse</title>
    <link rel="stylesheet" type="text/css" href="/css/record.css">
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container" id="main">
        <h1>Rehearse</h1>
        <h3 id="prompt"></h3>
        <div id="response"></div>
        <!--<button type="button" class="btn btn-default" id="recordButton">Record</button>-->
        <div id="recordRegion">
            <canvas id="asr_viz" height="220" ></canvas>
            <div id="recordButton" class="inactive">
               <div id="recordButtonAnimWrap"><div id="recordButtonAnim"></div></div>
               <div class="text">Record</div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 score-wrapper">
            <div class="score-category">
                <h2>Clarity</h2>
                <div class="score" id="clarity">---</div>
            </div>
        </div>
        <div class="col-sm-6 score-wrapper">
            <div class="score-category">
                <h2>Hesitation</h2>
                <div class="score" id="hesitation">---</div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 score-wrapper">
            <div class="score-category">
                <h2>Words per Minute</h2>
                <div class="score" id="wpm">---</div>
            </div>
        </div>
        <div class="col-sm-6 score-wrapper">
            <div class="score-category">
                <h2>Word Spacing</h2>
                <div class="score" id="spacing">---</div>
            </div>
        </div>
      </div>
    </div>
    <hr>
    
    <% include scripts.ejs %>
    <script src="scripts/jquery.min.js"></script>

    <script src='scripts/resampler.js'></script>
    <script src='scripts/speex.js'></script>
    <script src='scripts/nuance.js'></script>

    <script src="scripts/index.js"></script>
  </body>
</html>