<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
    <title>Rehearse</title>
    <link rel="stylesheet" type="text/css" href="/css/record.css">
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container-fluid" id="main">
      <h1>Rehearse</h1>
      <h3 id="prompt"></h3>
      <!--<button type="button" class="btn btn-default" id="recordButton">Record</button>-->
      <div id="recordButton" class="inactive">
        <div id="recordButtonAnimWrap"><div id="recordButtonAnim"></div></div>
        <div class="text">Record</div>
      </div>
    </div>
    <hr>
    <% include scripts.ejs %>
    <script src="scripts/index.js"></script>
  </body>
</html>