<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
    <title>Rehearse</title>
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container-fluid" id="main">
      <h1>Rehearse</h1>
      <h3 id="prompt">"Tell me about a recent project you've worked on."</h3>
      <button type="button" class="btn btn-default" id="recordButton">Record</button>
    </div>
    <% include scripts.ejs %>
  </body>
</html>