<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container-fluid" id="main">
      <h1>Login</h1>
      <form method="post">
        <p>Username<br>
        <input type="text" name="username" required></p>
        <p>Password<br>
        <input type="password" name="password" required></p>
        <p><input type="submit" name="login"></p>
      </form>
      <form method="post">
        <input type="submit" name="clearDb" value="Clear Database">
      </form>
    </div>

    <% include scripts.ejs %>
  </body>
</html>