<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container-fluid" id="main">
      <h1>Register</h1>
      <form method="post">
        <p>Username<br>
        <input type="text" name="username" required></p>
        <p>Password<br>
        <input type="password" name="password" required></p>
        <p>Password Confirmation<br>
        <input type="password" name="password_confirmation" required></p>
        <p><input type="submit"></p>
      </form>
    </div>
    <% include scripts.ejs %>
  </body>
</html>