#main {
  text-align: center;
}

body {
	background-color: #efefef;
}

.navbar-default {
	background-color: #5D8DFF;
	background-image: none;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

form {
	max-width: 400px;
	margin: auto;
}

.content-wrapper {
  padding: 15px;
}

.content-category {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 0px 8px #bbb;
}